img {
    max-width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    ul {
        li {

        }
    }
}

header {
    font-family: $font-family;
    .entete-image {
        height : clamp(350px, 450px, 550px);
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
        &::before {
            content: "";
            width: 55%;
            height: 180%;
            background-color: $darkBlue;
            opacity: 0.7;
            position: absolute;
            z-index: 10;
            transform: skewX(20deg);
            @include screen-mobile {
                width: 75%;
            }
        }
    }
    .entete-infos {
        position: relative;
        z-index: 20;
        display: flex;
        max-width: $screen-desktop;
        margin: 0 auto;
        @include screen-mobile {
            display: block;
            width: 100%;
        }
        .entete-titre {
            flex: 1 1;
                h2 {
                    color: $yellow;
                    text-transform: uppercase;
                    margin: 20px;
                    font-weight: 500;
                }
            }
        .entete-reservation-parcours {
            flex: 1 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-end;
            a.btn {
                @include button($yellow);
                &-parcours {
                    background-color: white;
                    border: 1px solid $yellow;
                }
            }
            @include screen-mobile {
                align-items: center;
                a.btn {
                    width: calc( 100% - 20px);
                    margin: 20px 0;
                    box-sizing: border-box;
                }
            }
        }
    }
}

.wrapper-resa {
    position: relative;
    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    .wrapper-dispo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .agences {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid lighten($grey,60%);
        margin: 0 0 10px 0;
        flex-wrap: wrap;
        div {
            flex: 1 1;
        }
        input[type="radio"] {
            display: none;
            & + label {
                position: relative;
                border: 1px solid $yellow;
                border-radius: 5px;
                padding: 20px 0px;
                display: block;
                margin-right: 15px;
                margin-bottom: 10px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                transition: all linear 0.3s;
                &:not(:last-of-type) {
                    margin-right: 0;
                }
                &:hover {
                    background-color: $yellow;
                }
                .badge {
                    font-size: 12px;
                    background-color: #333;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    position: absolute;
                    right: -9px;
                    top: -10px;
                }
            }
            &:checked {
              + label {
                background-color: lighten($yellow,15%);
              }   
            }
            &:disabled {
                + label {
                  color : lighten($grey,50%);
                  border-color: lighten($grey,50%);
                  .badge {
                    background-color: #ddd;
                }
                  .media img {
                    filter: grayscale(95%);
                    opacity: 0.5;
                  }
                }   
              }
        }
        .media {
            text-align: center;
            img {
                max-width: 180px;
                max-height: 90px;
                padding: 10px 0;
            }
        }
    }
    .equipements {
        @extend .agences;
        min-height: 180px;
        > div {
            visibility: hidden;
            opacity: 0;
            &.enter {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.5s, visibility 0s;
            }
            &.exit {
                opacity: 0;
                visibility: hidden;
                transition: visibility 0s;
            }
        }
        input[type=radio] {
            + label {
                border: 1px solid $darkBlue;
                color: $darkBlue;
                &:hover {
                    background-color: lighten($darkBlue,50%);
                }
            }
        &:checked {
            + label {
                background-color: $darkBlue;
                color: white;
            }   
         }
        } 
    }
    .btn-booking {
        @include button($yellow);
        width: 100%;
    }
}

section.infos {
    .infos-niveau {
        background-image: url(../images/standup-paddle-group.jpeg);
        background-size: cover;
        box-shadow: inset 0 0 0 2000px #132b3aaa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        h3 {
            text-shadow: darken($grey,15%) 1px 1px 7px;
            color: $yellow;
            padding: 10px 0 10px 30px;
            margin: 0;
            text-transform: uppercase;
            &:nth-of-type(2n) {
                color: $orange;
            }
        }
    }
    .infos-details {
        display: flex;
        ul {
            font-family: $font-family;
            padding: 0 20px;
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            li {
                padding: 15px 25px;
                margin: 15px 0;
                font-size: $h5;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px dotted $orange;
                img {
                    max-width: 64px;
                }
                &:last-of-type {
                    border-bottom: 0;
                    border-top: 2px dotted $orange;
                }
                &.infos-ouverture {
                    background: linear-gradient(165deg, $yellow, $orange);
                    border-radius: 8px;
                    span {
                        display: block;
                    }
                }
            }
        }
    }
    .infos-weather{
        margin: 0 15px;
        padding: 15px 15px 15px 0;
        @include boxShadow;
        background-color: lighten($turquoise,50%);
        color: $darkBlue;
        border: 1px solid $turquoise;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        span:first-of-type {
            font-family: $font-family-secondary;
            font-size: $h3;
            display: block;
        }
        span:last-of-type {
            color: $grey;
            font-style: italic;
        }
        [class^=weather] {
            flex: 1 1;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 120px;
            }
        }
        .weather-forecast {
            border-bottom: 1px dotted $turquoise;
        }
    }
}

section.equipements {
    .equipements-wrapper {
        article:not(:last-of-type) {
            @include boxShadow;
            display: flex;
            align-items: center;
            background-color: white;
            border: 1px solid lighten($grey,30%);
            img {
                max-width: 180px;
            }
            .icon {
            background: radial-gradient($yellow 20%, $orange 70%, white 71%);
            background-size: 450px 279px;
            background-repeat: no-repeat;
            background-position: -283px;
            /*
                background: linear-gradient(181deg, yellow 25%, orange);
                clip-path: ellipse(100% 70% at -5% 50%);
                */
            }
            &:nth-of-type(2n+1) {
                margin-right: 15px;
            }
            @include screen-mobile {
                &:nth-of-type(2n+1) {
                    margin: 0;
                }
                margin: 25px 0;
            }

    }
    }
}

section.parcours {
    .parcours-items {
        > article {
            border-top: 5px solid $yellow;
            background-color: lighten($grey,60%);
            position: relative;
            img {
                max-height: 140px;
                object-fit: cover;
                width: 100%;
            }
            .parcours-detail {
              padding: 15px;
              a {
                position: absolute;
                bottom: 5px;
                right: 5px;
                @include button($yellow);
                width: fit-content;
              }
            }
    }
        .reportages {
            position: relative;
            @include screen-mobile {
                margin: 15px 0;
            }
            .icon-camera {
                position: absolute;
                left: 40%;
                top: 25%;
                background-color: $orange;
                padding: 10px;
                opacity: 0.8;
            }
            h3 {
                background-color: $orange;
                font-size: $h4;
                text-align: center;
                color: $darkBlue;
                margin-top: -5px;
            }
        }
    }
}

footer {  
    .footer-infos {
        padding: 15px 0;
        margin-left: max(0px, calc((100vw - $screen-desktop)/2));
        > div {
            display: flex;
            width: 100%;
            align-items: center;
            > * {
                flex: 1 1;
            }
        }
        img {
            max-width: 160px;
        }
        @include screen-mobile {
            margin-left: 0;
        }
    }
    .icon-location {
        fill: $orange;
        width: 70px;
        vertical-align: middle;
        + span {
            color: $orange;
            font-family: $font-family;
            font-size: $h5;
            text-transform: uppercase;
        }
    }
    ul {
        list-style: none;
        margin: 20px 15px;
        padding: 0;
        font-family: $font-family;
        li {
            color: white;
            margin: 0;
        }
    }
    .footer-illustration {
        clip-path: polygon(0 100%, 30% 0%, 100% 0, 100% 100%);
        @include screen-mobile {
            clip-path: initial;
        }
    }
}