$orange : #fec52d;
$darkBlue : #132b3a;
$yellow: #ffef2a;
$turquoise : #01f2ea;
$grey: #565656;


$font-base : 16px;
$font-family: 'Avenir',sans-serif;
$font-family-secondary: 'Arial Rounded',sans-serif;

$h1 : 80px;
$h2 : 70px;
$h3 : 50px;
$h4 : 30px;
$h5 : 24px;

$hx : 80px,70px, 50px,30px,24px;

$spacer: 5px;

$screen-desktop : 1200px;